<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{checkout.title}">Checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'/>

</head>

<body>

<div th:replace="fragments :: navbar">Navigation bar fragment</div>

<div class="container body-content">

        <h1 th:text="#{checkout.title}">Checkout</h1>

        <form action="#" th:action="@{/order}" th:object="${order}" method="post">

            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                <ul th:if="${#fields.hasErrors('*')}">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>

            <h3 th:text="#{checkout.ship.to}">Ship to</h3>
            <div class="form-group">
                <label th:text="#{checkout.name}">name</label>
                <input class="form-control" type="text" data-val="true" data-val-required="ErrorMissingName" id="Name" name="Name" value=""/>
            </div>
            <h3 th:text="#{checkout.location}">location</h3>
            <div class="form-group">
                <div class="form-group col-4">
                    <label th:text="#{checkout.address}">address</label>
                    <input class="form-control" th:field="*{address}"/>
                </div>
                <div class="form-group col-4">
                    <label th:text="#{checkout.city}">city</label>
                    <input class="form-control" th:field="*{city}"/>
                </div>
                <div class="form-group col-4">
                    <label th:text="#{checkout.zip}">zip</label>
                    <input class="form-control" th:field="*{zip}"/>
                </div>
                <div class="form-group col-4">
                    <label th:text="#{checkout.country}">country</label>
                    <input class="form-control" th:field="*{country}"/>
                </div>
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Complete order"/>
            </div>
        </form>
        <div th:replace="fragments :: footer">Footer</div>
    </div>
</body>
</html>
